<form action="/update/{{asignatura.0}}", method="POST">

    <input type="text" name="claveAsignatura" placeholder="Clave" value="{{asignatura.1}}">
    <input type="text" name="nombreAsignatura" placeholder="Asignatura" value="{{asignatura.2}}">
    <input type="text" name="grupo" placeholder="Grupo" value="{{asignatura.3}}">
    <input type="text" name="profesor" placeholder="Profesor" value="{{asignatura.4}}">
    <input type="text" name="salon" placeholder="Salon" value="{{asignatura.5}}">
    <input type="text" name="dia" placeholder="Día" value="{{asignatura.6}}">
    <input type="text" name="hora" placeholder="Hora" value="{{asignatura.7}}">
    <input type="text" name="lugaresDisponibles" placeholder="Lugares Disponibles" value="{{asignatura.8}}">

    <button type="submit">Guardar</button>

</form>