{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

        <div class="card card-body">
            <form action="/add_asignatura", method="POST">
                <div class="form-group">
                    <input type="text" name="claveAsignatura" placeholder="Clave" class ="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="nombreAsignatura" placeholder="Asignatura" class ="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="grupo" placeholder="Grupo" class ="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="profesor" placeholder="Profesor" class ="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="salon" placeholder="Salon" class ="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="dia" placeholder="Día" class ="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="hora" placeholder="Hora" class ="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="lugaresDisponibles" placeholder="Lugares Disponibles" class ="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>

            </form>
        </div>
    </div>
    <div class="col-md-7 pt-4">
        <table class = "table table-striped table-bordered bg-white table-sm">
            <thread> 
                <tr>
                    <td>Clave</td>
                    <td>Nombre</td>
                    <td>Grupo</td>
                    <td>Profesor</td>
                    <td>Salon</td>
                    <td>Dia</td>
                    <td>Hora</td>
                    <td>Lugares Disponibles</td>
                    <td>Acciones</td>
                </tr>
            </thread>
    
            <tbody>
            {% for asignatura in asignaturas %}
            <tr>
                <td>{{ asignatura.1 }}</td>
                <td>{{ asignatura.2 }}</td>
                <td>{{ asignatura.3 }}</td>
                <td>{{ asignatura.4 }}</td>
                <td>{{ asignatura.5 }}</td>
                <td>{{ asignatura.6 }}</td>
                <td>{{ asignatura.7 }}</td>
                <td>{{ asignatura.8 }}</td>
                <td>
                    <a href="/edit/{{ asignatura.0 }}" class = "btn btn-secondary">Editar</a>
                    <a href="/delete/{{ asignatura.0 }}" class = "btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}